h1 {
  margin: 0 auto;
  color: white;
  font-size: 48px;
}

.container {
  margin: 0 auto;
  margin-bottom: 50px;
}

.bg {
  margin: 0 auto;
  background-color: #000002;
}

#halNine {
  border: 4px solid gray;
  background-color: lightgray;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

#result {
  color: white;
  font-size: 24px;
}
